# dependencies
node_modules/

# postgres & database
postgres_secondary_data/
*.dat
*.sql.gz
*.sqlite

# docker & local logs
*.log
docker-compose.override.yml

# build outputs & local env
.next/
out/
.env*.local

# IDE & editors
.vscode/
.idea/
*.swp
*.swo

# OS extra
Thumbs.db
.DS_Store